Adafruit-Blinka==2.1.4
adafruit-circuitpython-busdevice==3.0.0
adafruit-circuitpython-framebuf==1.1.0
adafruit-circuitpython-rfm9x==1.1.6
adafruit-circuitpython-ssd1306==2.6.3
Adafruit-PlatformDetect==1.0.6
Adafruit-PureIO==0.2.3
certifi==2019.6.16
chardet==3.0.4
Click==7.0
Flask==1.1.1
idna==2.8
itsdangerous==1.1.0
Jinja2==2.10.1
MarkupSafe==1.1.1
PyJWT==1.7.1
PySocks==1.7.0
pytz==2019.1
requests==2.22.0
rpi-ws281x==4.1.0
RPi.GPIO==0.6.5
six==1.12.0
spidev==3.4
sysv-ipc==1.0.0
twilio==6.29.2
urllib3==1.25.3
Werkzeug==0.15.5
